// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

// Font variables
$font-specimen: Outfit, sans-serif;

// Color variables
$white: hsl(0, 0%, 100%);
$gray: hsl(212, 45%, 89%);
$ash: hsl(220, 15%, 55%);
$blue: hsl(218, 44%, 22%);

// Layout variables
$mobile: 375px;
$desktop: 1440px;

// Styles
body {
	height: 100vh;
	max-width: $mobile;
	background-color: $gray;
}