// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

// Font variables
$font-specimen: 'Outfit', sans-serif;
$paragraph-font: 15px;

// Color variables
$white: hsl(0, 0%, 100%);
$gray: hsl(212, 45%, 89%);
$ash: hsl(220, 15%, 55%);
$blue: hsl(218, 44%, 22%);

// Layout variables
$mobile: 375px;
$desktop: 1440px;

// Styles
body {
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: $gray;
}

.card {

	background-color: $white;
	font-family: $font-specimen;

	.card-body {
		text-align: center;

		.card-title {
			font-weight: 700;
			color: $blue;
		}

		.card-text {
			font-weight: 400;
			font-size: $paragraph-font;
			color: $ash;
		}

	}
}